.DS_Store
*/.DS_Store
**/**/.DS_Store
.metadata
*/.metadata

*.tmp
*.bak
*.swp
*~.nib

RemoteSystemsTempFiles/


# android specific
# */gen/*   ### we want these!
*/bin


# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

### eclipse files we DO want
# local.properties
# */.loadpath
# classpath
# settings

#gwt cache
gwt-unitCache/
*GwtDefinition/

*.cache.*
space-dragon-html/war/WEB-INF/

/space-dragon-html/war/com.chris.spacedragon.GwtDefinition/com.chris.spacedragon.GwtDefinition.nocache.js
/space-dragon-html/war/com.chris.spacedragon.GwtDefinition/hosted.html
/space-dragon-html/war/com.chris.spacedragon.GwtDefinition/soundmanager2-jsmin.js
/space-dragon-html/war/com.chris.spacedragon.GwtDefinition/soundmanager2-setup.js
/space-dragon-html/war/com.chris.spacedragon.GwtDefinition/soundmanager2_debug.swf
/space-dragon-html/war/com.chris.spacedragon.GwtDefinition/soundmanager2_flash9_debug.swf